<!DOCTYPE html>
<html lang="en">
    <head>
      <script>
	// Hack for scrolling window when linking to anchor tag with fixed nav header
        var shiftWindow = function() { scrollBy(0, -75) };
        window.addEventListener("hashchange", shiftWindow);
        function load() { if (window.location.hash) shiftWindow(); }
      </script>
      {%- block site_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}">
        {% else %}<link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}
      {%- endblock %}

      {%- block htmltitle %}
        <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
      {%- endblock %}

      {%- block styles %}
        <link href="{{ 'css/bootstrap.min.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/font-awesome.min.css'|url }}" rel="stylesheet">
        <link href="{{ 'css/base.css'|url }}" rel="stylesheet">
        {%- if config.theme.highlightjs %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ config.theme.hljs_style }}.min.css">
        {%- endif %}
        {%- for path in config['extra_css'] %}
        <link href="{{ path|url }}" rel="stylesheet">
        {%- endfor %}
      {%- endblock %}

      {%- block libs %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{{ 'js/jquery.min.js'|url }}" defer></script>
        <script src="{{ 'js/bootstrap.min.js'|url }}" defer></script>
        {%- if config.theme.highlightjs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        {%- for lang in config.theme.hljs_languages %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{lang}}.min.js"></script>
        {%- endfor %}
        <script>hljs.initHighlightingOnLoad();</script>
        {%- endif %}
      {%- endblock %}

      {%- block analytics %}
        {%- if config.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
            ga('send', 'pageview');
        </script>
        {%- endif %}
      {%- endblock %}

      {%- block extrahead %} {% endblock %}
    </head>

    <body class="{% if page and page.is_homepage %}homepage {% endif %}{%- if page and page.meta.jumbotron -%}has-jumbotron {%- endif -%}">

      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<div class="container">
	{%- block site_name %}
	<a class="navbar-brand" href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a>
	{%- endblock %}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse">
	  {%- block site_nav %}
          {%- if nav|length>1 %}
          <!-- Main navigation -->
          <nav class="nav">
            <ul class="navbar-nav">
              {%- for nav_item in nav %}
              {%- if nav_item.children %}
              <li class="nav-item dropdown{% if nav_item.active %} active{% endif %}">
                <a href="#" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="nav-dropdown-{{ nav_item.title }}">{{ nav_item.title }} <b class="caret"></b></a>
                <div class="dropdown-menu" aria-labelledby="nav-dropdown-{{ nav_item.title }}">
                  {%- for nav_item in nav_item.children %}
                  {% include "nav-sub.html" %}
                  {%- endfor %}
                </div>
              </li>
              {%- else %}
              <li {% if nav_item.active %}class="active"{% endif %}>
                <a class="nav-link" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
              </li>
              {%- endif %}
              {%- endfor %}
            </ul>
          </nav>
          {%- endif %}
	  {%- endblock %}

          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            {%- block search_button %}
            {%- if 'search' in config['plugins'] %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
		<i class="fa fa-search"></i> Search
              </a>
            </li>
            {%- endif %}
            {%- endblock %}

            {%- block next_prev %}
            {%- if page and (page.next_page or page.previous_page) and (not config.theme.suppress_nextprev) %}
            <li class="nav-item{% if not page.previous_page %} disabled{% endif %}">
              <a class="nav-link" rel="next" {% if page.previous_page %}href="{{ page.previous_page.url|url }}"{% endif %}>
		<i class="fa fa-arrow-left"></i> Previous
              </a>
            </li>
            <li class="nav-item{% if not page.next_page %} disabled{% endif %}">
              <a class="nav-link" rel="prev" {% if page.next_page %}href="{{ page.next_page.url|url }}"{% endif %}>
		Next <i class="fa fa-arrow-right"></i>
              </a>
            </li>
            {%- endif %}
            {%- endblock %}

            {%- block repo %}
            {%- if page and page.edit_url %}
            <li class="nav-item">
              <a class="nav-link" href="{{ page.edit_url }}">
		{%- if config.repo_name == 'GitHub' -%}
		<i class="fa fa-github"></i> Edit on {{ config.repo_name }}
		{%- elif config.repo_name == 'Bitbucket' -%}
		<i class="fa fa-bitbucket"></i> Edit on {{ config.repo_name }}
		{%- elif config.repo_name == 'GitLab' -%}
		<i class="fa fa-gitlab"></i> Edit on {{ config.repo_name }}
		{%- else -%}
		Edit on {{ config.repo_name }}
		{%- endif -%}
              </a>
            </li>
            {%- elif config.repo_url %}
            <li class="nav-item">
              <a class="nav-link" href="{{ config.repo_url }}">
		{%- if config.repo_name == 'GitHub' -%}
		<i class="fa fa-github"></i> {{ config.repo_name }}
		{%- elif config.repo_name == 'Bitbucket' -%}
		<i class="fa fa-bitbucket"></i> {{ config.repo_name }}
		{%- elif config.repo_name == 'GitLab' -%}
		<i class="fa fa-gitlab"></i> {{ config.repo_name }}
		{%- else -%}
		{{ config.repo_name }}
		{%- endif -%}
              </a>
            </li>
            {%- endif %}
            {%- endblock %}
          </ul>
	</div>
	</div>
      </nav>

      {%- set main_content %}
      <div class="row">
        <div class="col-md-9" role="main">{% include "content.html" %}</div>
        <div class="col-md-3">{% include "toc.html" %}</div>
      </div>
      {%- endset %}

      {%- block content %}
      {%- if page and page.meta.jumbotron -%}
      <div class="jumbotron">
        <div class="container">
          {{- page.meta.jumbotron_content -}}
        </div>
      </div>
      <div id="content" class="container">
        {{ main_content }}
      </div>
      {%- else -%}
      <div id="content" class="container">
        {{ main_content }}
      </div>
      {%- endif -%}
      {%- endblock %}

      <footer class="col-md-12 bg-dark">
	<div class="container">
	  {%- block footer %}
	  {%- if config.copyright %}
	  <p>{{ config.copyright }}</p>
	  {%- endif %}
	  {%- endblock %}
	</div>
      </footer>

      {%- block scripts %}
      <script>
	var base_url = {{ base_url | tojson }},
            shortcuts = {{ config.theme.shortcuts | tojson }};
      </script>
      <script src="{{ 'js/base.js'|url }}" defer></script>
      {%- for path in config['extra_javascript'] %}
      <script src="{{ path|url }}" defer></script>
      {%- endfor %}
      {%- endblock %}

      {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
      {%- include "keyboard-modal.html" %}

    </body>
</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
