footer {
    margin-top: auto;
    background-color: #384257;
    border-top: 5px solid #E63312;
    font-size: 12pt;
}
footer #footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 70px;
    margin: 0 auto;
}
@media (min-width: 1040px) {
    footer #footer_content {
        width: 1040px;
        padding: 15px; } }
@media (max-width: 650px) {
    footer #footer_content {
        width: 100%;
        padding: 15px 20px; } }
footer #sponsors {
    display: flex;
    align-items: center; }
@media (max-width: 400px) {
    footer #sponsors {
        flex-direction: column; } }
footer #sponsors img {
    margin: 0;
    height: 40px;
    margin-right: 20px; }
@media (min-width: 560px) {
    footer #sponsors img {
        height: 50px;
        margin-right: 40px; } }
@media (max-width: 400px) {
    footer #sponsors img {
        margin-bottom: 10px;
        margin-right: 10px; }
    footer #sponsors img:last-child {
        margin-bottom: 0; } }
footer #sponsors img:last-child {
    margin-right: 0; }
footer #footer_links {
    list-style-type: none;
    padding: 0;
    margin: 0 10px; }
footer #footer_links a {
    color: rgba(255, 255, 255, 0.8);
}
footer #footer_links a:hover,
footer #footer_links a:hover {
    text-decoration: none;
    color: rgba(230, 230, 230, 0.8);
}
