.navbar {
    font-size: 1rem;
    border-bottom: 5px solid #E63312;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-item .nav-link {
    color: #6c757d; /* bs secondary */
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    color: #343a40; /* bs dark */
}
                    
#content {
    padding-top: 80px;
}
